/lab7_skeleton/nbproject/private/
/lab7_skeleton/build/
/Team96_lab7/build/
/Team96_lab7/dist/
/EcoSystem/nbproject/private/
/EcoSystem/build/
/EcoSystem/dist/


/Assignment5_Xerox/nbproject/private/

/Team96_lab7/build/



/Assignment5_Xerox/dist/
/Assignment5_Xerox/build/

/Final Project/Medicare_Team 96/build/
/Team96_lab7/nbproject/private/private.properties
/Team96_lab7/nbproject/private/private.xml
/Medicare/nbproject/private/
/Medicare_Team 96/nbproject/private/
/Medicare_Team 96/build/
/Medicare_Team 96/dist/
/Final Project/Medicare_Team 96/dist/